<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DynamicsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0F2121D1F31ECBC00C898E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0F212361F31ECBD00C898E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0F212411F31ECBD00C898E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
